:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #bebebe;
  background-color: #080f1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Credit: https://github.com/johnpolacek/animated-gradient-background-generator */
html {
  background: linear-gradient(90deg, #050811, #080f1b, #050811, #080f1b);
  background-size: 240% 240%; 
  min-height: -webkit-fill-available;
  /* overscroll-behavior: none */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::selection {
  background-color: rgb(101, 97, 121);
  color: rgb(18, 18, 39)
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 5%;

  /* border: green thin solid; */
  margin: 15px;
}

.items {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.subtitle a {
  text-decoration: none;
  color: inherit;
}

.subtitle:hover a {
  text-decoration: underline;
}

.subtitle {
  color: rgb(59, 76, 93);
  font-size: 12px;
}

#main-pic {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: rgba(32, 44, 58, 0.3) 0px 1px 2px 0px, rgba(36, 52, 64, 0.15) 0px 1px 3px 1px;
  transition: 0.1s;
}

#main-pic:hover {
  translate: 0px -1px;
  box-shadow: rgba(32, 44, 58, 0.3) 3px 5px 3px 3px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px;
}

.title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2.6em;
  line-height: 1.1;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  row-gap: 0px;
  flex-wrap: wrap;

  margin-top: 5px;
  position: sticky;
  padding-left: 0;
  list-style-type: none;
}

.nav .li, .nav a {
  padding: 5px;
  transition: 0.2s;
  font-weight: bold;
  text-decoration: none;
  color: #d7d7d7;
  cursor: pointer; 
}

.nav .selected, .nav .li:hover, .nav a:hover {
  padding: 8px;
  background-color: #c1b8f9;
  color: rgb(23, 23, 23);
}