:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #bebebe;
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Credit: https://github.com/johnpolacek/animated-gradient-background-generator */
:root {
  background: linear-gradient(180deg, #050811, #080f1b);
  background-size: 400% 400%; 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::selection {
  background-color: rgb(101, 97, 121);
  color: rgb(18, 18, 39)
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 5%;

  /* border: green thin solid; */
  margin: 15px;
}

.items {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.items a {
  width: 220px;
}

.subtitle {
  color: rgb(59, 76, 93);
  font-size: 12px;
}

.items img {
  width: 220px;
  height: 220px;
  border-radius: 15px;
  box-shadow: rgba(32, 44, 58, 0.3) 0px 1px 2px 0px, rgba(36, 52, 64, 0.15) 0px 1px 3px 1px;
  transition: 0.2s;
}

.items img:hover {
  translate: 0px -1px;
  box-shadow: rgba(32, 44, 58, 0.3) 3px 5px 3px 3px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px, rgba(36, 52, 64, 0.15) 3px 2px 1px 1px;
}

.title {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.1;
}

.nav {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav .li, .nav a {
  padding: 5px;
  transition: 0.2s;
  font-weight: bold;
  align-self: flex-start;
  text-decoration: none;
  color: #d7d7d7;
}

.nav .li:hover, .nav a:hover {
  padding: 6px;
  background-color: #c1b8f9;
  color: rgb(23, 23, 23);
}